.dashboard-card{
    width: 90%;
    margin: auto ;
    margin-top: 20px;
    .chef-table{
        margin: auto ;
        table-layout: fixed;
        width: 100%;
        th{
            padding: 10px;
        }
        .food-data{
            display: contents;
            p{
                font-weight: bold;
            }
            tr{
                line-height: 30px;
                td{
                    text-align: center;
                    .quantity{
                        width: 35px;
                        text-align: center;
                    }
                }
            }
        }
    }
}