<mat-card class="dashboard-card">
    <table class="chef-table">
      <thead>
        <tr class="columns">
          <th>Name</th>
          <th>Available Quantity</th>
        </tr>
      </thead>
      <tbody>
        <div class="food-data" *ngFor="let foods of ItalianData">
          <p>{{ foods.name }}</p>
          <tr *ngFor="let food of foods.items">
            <td>{{ food.name }}</td>
            <td>{{ food.quantity }}</td>
          </tr>
        </div>
      </tbody>
    </table>
  </mat-card>